* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  margin-bottom: 48px;
}

.gridBtn {
  margin-bottom: 48px;
  background-color: rgb(72, 153, 250);
  padding: 10px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 1080px;
  height: 1080px;
}

.box {
  border: solid black 1px;
}
